*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #b6d8d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.hide {
    display: none;
}

img {
    height: 200px;
    max-width: 100%;
}

.colorbank {
    color: blue;
    /* color:#b6d8d0 very light blue; */
    /* color:#469e88;  medium blue*/
}

.container {
    display: flex;
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

h1 {
    margin: 2rem;
    color: #222C2a;
    text-align: center;
    /* color:#469e88; */
    font-family: 'Anta', sans-serif;
    font-size: 3.5rem;
    border-left: 15px solid #222C2a;
    border-right: 15px solid #222C2a;
    border-radius: 100px;
    padding: 0 2rem;


}

h2 {
    text-decoration: underline;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;

}

.game-box {

    justify-content: space-between;
}

.side {
    display: flex;


    width: 300px;

    text-align: center;
    font-family: 'Anta', sans-serif;
    color: #469e88;
    justify-content: space-between;

    color: #b6d8d0;
}

.neutral {
    justify-content: center;
    align-items: center;
}

#game-info {
    font-size: 3rem;
    color: #a71515
}

.player-img {
    transition: transform 0.2s ease-in-out;
    /* border:2px solid blue; */


}

.cpu-img {
    transition: transform 0.3s ease-in-out;
    /* border:3px solid red; */

}

.cpu-selected {
    transform: translateX(-60px);
}

.player-img:hover {
    cursor: pointer;
    border-left: 20px solid yellow;
    border-radius: 100px;
    transform: scale3d(1.5);


}



.player-selected {
    transform: translateX(60px);
    border-radius: 100px;
}

.computer-selected {
    transform: translateX(-40px);
    border-radius: 100px;


}

#player-score,
#cpu-score {
    color: #a71515;

}

.score {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #469e88;
}

#play-btn {
    border: 3px solid red;
    background-color: brown;
    opacity: 0.6;
    font-size: 2rem;
    padding: 0.6em 1.3em;
    font-family: 'Anta', sans-serif;
    border-radius: 12px;
    display: none;
}

#play-btn:hover {
    background-color: brown;
    opacity: 1;
}