
*,
*::before,
*::after{

    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
 /* background-color:#222c2a; */
 background-color:#b6d8d0;
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:space-evenly;

}
.hide{
    display:none;
}
img{
    height:200px;
    max-width:100%;
}

.colorbank{
    /* color:#b6d8d0 very light blue; */
    /* color:#469e88;  medium blue*/
}

.container{
    display:flex;
    justify-content:space-between;
}
.row{
    flex-direction:row;
}
.column{
    flex-direction:column;
}

h1{
    margin:2rem;
    color:#222C2a;
    /* color:#469e88; */
    font-family:'Anta', sans-serif;
    font-size:3.5rem;

}

h2{
    text-decoration: underline;
    font-size:2.5rem;
}

.game-box{
    /* border:5px solid red; */
    justify-content:space-between;
}
.side{
    display:flex;
    /* border:3px solid black; */

    width:300px;
   
    text-align:center;
    font-family:'Anta', sans-serif;
    color:#469e88;
    justify-content:space-between;
    
    /* color:#b6d8d0; */
}

.player-img{
    transition:transform 0.2s ease-in-out;
}
.player-img:hover{
    cursor:pointer;
    transform:translateX(25px);
    transition:transform 0.3s ease-in-out;


}

#play-btn{
    border:3px solid red;
    background-color:brown;
    opacity:0.6;
    font-size:2rem;
    padding:0.6em 1.3em;
    font-family:'Anta', sans-serif;
    border-radius:12px;
}
#play-btn:hover{
    background-color:brown;
    opacity:1;
}